<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>Talente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-title" content="Talente Chat">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" type="text/css" media="screen, projection" href="css/mobil.css">
    <link rel="stylesheet" type="text/css" media="screen, projection" href="css/index.css">
    <link rel="stylesheet" type="text/css" media="screen, projection" href="css/stil.css">
    <link rel="stylesheet" type="text/css" media="screen, projection" href="client/_talente/css/custom.css">
    <link rel="apple-touch-icon"                 href="client/img/Icon_Mini_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76"   href="client/img/Icon_Klein_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="client/img/Icon_Mittel_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="client/img/Icon_Gross_152x152.png">
    <link rel="apple-touch-startup-image"        href="client/img/Icon_Start_640x920.png">
    <script type="text/javascript" src="client/_talente/config.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/cookies.js"></script>
    <script type="text/javascript" src="js/funktionen.js"></script>
  </head>
  <body data-menu="an" data-stil="" data-mobil="">
    <div id="hintergrund">
      <img src="" alt="">
    </div>
    <div id="seite">
      <div id="daten">
        Lade Daten...
      </div>
      <div id="menu">
        Lade Menü...
      </div>
      <div id="chat">
        <div id="chatContainer">
          Lade Chat...
        </div>
      </div>
      <div id="fenster" onclick="fensterSchliessen();">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%"><tr width="100%"><td height="18"></tr><tr><td align="right" valign="center">
        <div>
          <img src="http://sefzig.net/text/seiten/TalenteCdn/dateien/Menu_Schliessen_125x125.png" rel="" alt="Schliessen" onclick="fensterSchliessen();" />
        </div>
          <iframe src="" style="margin-top:10px;"></iframe>
          <img src="" />
        </td></tr></table>
      </div>
      <div id="start" style="">
        <input tabindex="0" type="image" src="http://sefzig.net/text/seiten/TalenteCdn/dateien/Menu_Button_125x125.png" rel="" data-start="menu" />
      </div>
    </div>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script src="js/index.js"></script>
    <script type="text/javascript" src="client/_talente/js/custom.js"></script>
  </body>
</html>