
        <div class="talente">
          <h2>Talente</h2>
          <div style="margin-right:0px; overflow:hidden;">
            Willkommen in unserem Chatraum!<br />
            Sprechen Sie 1zu1 mit Ihrem Berater.<br />
            Fragen Sie unsere Bots nach Tipps.
          </div>
          <div>
            <h3>Über uns</h3>
            <li># <button tabindex="" style="margin-left:-2px;">Talente</button></li>
            <li>Ihr <button>Ansprechpartner</button></li>
            <li><button tabindex="">Kontakt</button> aufnehmen</li>
            <!-- Folgt: Tabindex fortführen... -->
          </div>
          <div>
            <h3>Material</h3>
            <li>Wir haben <button>Material</button> für Sie</li>
            <li>Ihr <button>Stellenangebot</button></li>
            <li><button>Unternehmens</button>-Informationen</li>
            <li>Bewerbungs-<button>Unterlagen</button></li>
          </div>
          <div id="formular">
            <h3>Ihre Daten</h3>
            <li>Vorname:  <input type="text" class="vorname"  tabindex="8"  id="vornameMenu"  value="" style="width:  84px;" /></li><script>wachsen("vornameMenu",   84);</script>
            <li>Nachname: <input type="text" class="nachname" tabindex="9"  id="nachnameMenu" value="" style="width:  96px;" /></li><script>wachsen("nachnameMenu",  96);</script>
            <li>E-Mail:   <input type="text" class="email"    tabindex="10" id="emailMenu"    value="" style="width: 100px;" /></li><script>wachsen("emailMenu",    100);</script>
            <li>Telefon:  <input type="text" class="telefon"  tabindex="11" id="telefonMenu"  value="" style="width: 100px;" /></li><script>wachsen("telefonMenu",  100);</script>
        <!--<li>Ihre <button>Daten</button> ändern?</li>-->
          </div>
          <div>
            <h3>Tipps</h3>
            <li>Machen Sie unseren <button>Test</button></li>
            <li>Eine <button>Hilfe</button> im Chat</li>
            <li>Schalten Sie den <button>Bot-aus</button></li>
            <li><button>Menü</button> an- oder ausschalten</li>
            <li><span class="nur_mobil">Als Web-App hinzufügen</span><span class="nicht_mobil">Den Chat <button>mobil</button> öffnen</span></li>
            <li>Browser: <button data-nav=1>Vor</button> und <button data-nav=-1>Zurück</button></li>
            <li>Stil: <button data-stil=talente>Talente</button><button data-stil=nacht>Nacht</button></li>
          </div>
        </div>
        