
        <div class="chatraum">
          <h2>Chatraum</h2>
          <div style="margin-right:0px; overflow:hidden;">
            Dies ist die Vorlage des Chatraums.<br />
            Sprechen Sie mit uns und den Bots.<br />
            Verwenden Sie die Excel-Vorlage!
          </div>
          <div>
            <h3>Über uns</h3>
            <li># <button tabindex="2" style="margin-left:-2px;">Chatraum</button></li>
            <li>Unsere <button tabindex="3">Produkte</button></li>
            <li><button tabindex="4">Kontakt</button> aufnehmen</li>
            <li>Über <button tabindex="5">Andreas</button> Sefzig</li>
            <!-- Folgt: Tabindex fortführen... -->
          </div>
          <div>
            <h3>Unsere Bots</h3>
            <li>Alice: <button tabindex="5">Empfang</button></li>
            <li>Barbara: <button tabindex="6">Verkauf</button></li>
            <li>Cynthia: <button tabindex="7">Marketing</button></li>
          </div>
          <div id="formular">
            <h3>Ihre Daten</h3>
            <li><input type="text" class="vorname"  tabindex="8"  id="vornameMenu"  value="" style="width:  84px;" /></li><script>wachsen("vornameMenu",   84);</script>
            <li><input type="text" class="nachname" tabindex="9"  id="nachnameMenu" value="" style="width:  96px;" /></li><script>wachsen("nachnameMenu",  96);</script>
            <li><input type="text" class="email"    tabindex="10" id="emailMenu"    value="" style="width: 100px;" /></li><script>wachsen("emailMenu",    100);</script>
          </div>
          <div>
            <h3>Tipps</h3>
            <li>Alle <button>Befehle</button> eines Bots</li>
            <li><button>Über</button> den gerade aktiven Bot</li>
            <li>Einfach <button>abbrechen</button> wenn lost</li>
            <li><button>Zurück</button> zum letzten Bot</li>
            <li>Browser: <button data-nav=1>Vor</button> und <button data-nav=-1>Zurück</button></li>
            <li><button>Bots-aus</button> und anschalten</li>
            <li><span class="nur_mobil">Als Web-App hinzufügen</span><span class="nicht_mobil">Den Chat <button>mobil</button> öffnen</span></li>
            <li><button>Menü</button> an- oder ausschalten</li>
            <li>Den <button>Newsletter</button> bestellen</li>
            <li>Stil: <button data-stil=tag>Tag</button><button data-stil=nacht>Nacht</button><button data-stil=robogeddon>Robos</button><button data-stil=hacks>Hx</button></li>
          </div>
        </div>
        